<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Moviebase- Task(MTSL).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C512A5052DCE278E00800DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C512A51E2DCE278F00800DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C512A5282DCE278F00800DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
